{% extends 'base.html' %}

{% block content %}

<div class="grid-x grid-margin-x">
  <div class="cell">
    <form action="{% url 'meta_show:show' %}" method="post">
      {% csrf_token %}
      {{run_form}}
    </form>
  </div>
  <div class="cell small-6">
    {% if engines %}
    <ul class="accordion" data-accordion data-multi-expand="true">
      {% for engine in engines %}
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">{{engine.name}} ({{engine.info}})</a>
        <div class="accordion-content" data-tab-content>
          <ul>
            {% include 'includes/meta.html' with meta=engine.root %}
          </ul>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  <div class="cell small-6">
    Please click on element on the left to see its meta data:
    <div id="meta"></div>
  </div>
</div>



{% endblock %}

{% block scripts %}
{% block javascript %}
  <script>
    function get_meta(meta_id) {
      $.ajax({
        url: '{% url 'meta_show:meta' %}',
        data: {
          'meta_id': meta_id
        },
        dataType: 'json',
        success: function (data) {
          if (data.json) {
            $('#meta').html(data.json)
          }
        }
      });

    };
  </script>
{% endblock %}

{% endblock %}